@model List<CursosDA.Models.Domain.Curso>
@{
}

<a 
    asp-area=""
    asp-controller="Cursos"
    asp-action="CursoAdd"
    type="button" class="btn btn-primary">
     Regresar
</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Curso</th>
            <th>Descripción</th>
            <th>Nombre Profesor</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model)
        {
            <tr>
                <td>@curso.IdCurso</td>
                <td>@curso.Nombre</td>
                <td>@curso.Descripcion</td>
                <td>@curso.Proferor.Nombre</td>

                <td>
                    <!-- Botón de Editar -->
                    <a href="@Url.Action("Editar", "Cursos", new { id = curso.IdCurso })" class="btn btn-warning btn-sm">Editar</a>

                    <!-- Botón de Eliminar (puedes mostrar un modal de confirmación si lo deseas) -->
                    <a href="@Url.Action("Eliminar", "Cursos", new { id = curso.IdCurso })" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>